:root {
  --red: #d33;
}

a {
  &:hover {
    color: color-mod(var(--red) a(54%));
  }

  & span {
    display: inline-block;
  }
}

::placeholder {
  color: gray;
}

.hoge {
  color: white;
}

.fuge {
  color: green;
}
