:root {
  --red: #d33;
}

a {
  &:hover {
    color: color-mod(var(--red) a(54%));
  }

  & span {
    display: inline-block;
  }
}

::placeholder {
  color: gray;
}

.hoge {
  color: white;
  background: #FF3300;
}

.fuge {
  color: green;
}

.fuge2 {
  opacity: 1;

  color: green;
}


.a {
  color: #FF0100;
  background: #F38010;
}

.b {
  color: rgba(255, 0, 0, 1)
}
